name: Demo Shared Workflow

on:
  workflow_call:
    inputs:
      your_name:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write

    steps:
      - name: Say Hello
        run: |
          echo "Hello, ${{inputs.your_name}}"



